{% for frontend in haproxy_frontend %}
frontend {{ frontend.name }}
  bind {{ frontend.bind }}{% if frontend.ssl is defined %} ssl{% for ssl in frontend.ssl %}{% if ssl.crt is defined %} crt {{ ssl.crt }}{% endif %}{% endfor %}{% endif %}

  mode {{ frontend.mode }}

  default_backend {{ frontend.default_backend }}

{% if frontend.rspadd is defined %}
{% for rspadd in frontend.rspadd %}
  rspadd {{ rspadd }}
{% endfor %}
{% endif %}

{% endfor %}
