{% for backend in haproxy_backend %}
backend {{ backend.name }}
{% if backend.description is defined %}
  description {{ backend.description }}
{% endif %}

  mode {{ backend.mode }}

  balance {{ backend.balance }}

{% if backend.option is defined %}
{% for option in backend.option %}
  option {{ option }}
{% endfor %}
{% endif %}

{% if backend.http_request is defined %}
{% for http_request in backend.http_request %}
  http-request {{ http_request.action }}{% if http_request.param is defined %} {{ http_request.param }}{% endif %}{% if http_request.cond is defined %} {{ http_request.cond }}{% endif %}

{% endfor %}
{% endif %}

{% if backend.server is defined %}
{% for server in backend.server %}
  server {{ server.name }} {{ server.ip }}{% if server.port is defined %}:{{server.port }}{% endif %} {% if server.maxconn is defined %}maxconn {{server.maxconn }} {% endif %}{% if server.param is defined %}{% for param in server.param %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}

{% endfor %}
