{% for backend in haproxy_backend %}
backend {{ backend.name }}
{% if backend.description is defined %}
  description {{ backend.description }}
{% endif %}

{% if backend.bind_process is defined %}
  bind-process {{ backend.bind_process | join(' ') }}
{% endif %}

  mode {{ backend.mode }}

  balance {{ backend.balance }}

{% if backend.source is defined %}
  source {{ backend.source }}
{% endif %}

{% for option in backend.option | default([])%}
  option {{ option }}
{% endfor %}

{% if backend.http_check is defined %}
  http-check {{ backend.http_check }}
{% endif %}

{% if backend.cookie is defined %}
  cookie {{ backend.cookie }}
{% endif %}

{% for stick in backend.stick | default([]) %}
  stick-table {{ stick.table }}
  stick on {{ stick.stick_on }}
{% endfor %}

{% for option in backend.no_option | default([]) %}
  no option {{ option }}
{% endfor %}

{% for tcp_check in backend.tcp_check | default([]) %}
  tcp-check {{ tcp_check }}
{% endfor %}

{% for timeout in backend.timeout | default([]) %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}

{% for http_request in backend.http_request | default([]) %}
  http-request {{ http_request.action }}{% if http_request.param is defined %} {{ http_request.param }}{% endif %}{% if http_request.cond is defined %} {{ http_request.cond }}{% endif %}

{% endfor %}

{% for http_response in backend.http_response | default([]) %}
  http-response {{ http_response.action }}{% if http_response.param is defined %} {{ http_response.param }}{% endif %}{% if http_response.cond is defined %} {{ http_response.cond }}{% endif %}

{% endfor %}

{% for server in backend.server | default([]) %}
  server {{ server.name }} {{ server.listen }}{% for param in server.param | default([]) %} {{ param }}{% endfor %}

{% endfor %}

{% endfor %}
