{% for frontend in haproxy_frontend %}
frontend {{ frontend.name }}
{% for item in haproxy_raw_keys %}
{%   if frontend[item['key']] is defined %}
{%     if item['list_accepted'] | default('yes') | bool and
          frontend[item['key']] is iterable and
          frontend[item['key']] is not string %}
{%       for option in frontend[item['key']] %}
  {{ item['config_key'] | default(item['key']) }} {{ option }}
{%       endfor %}
{%     else %}
  {{ item['config_key'] | default(item['key']) }} {{ frontend[item['key']] }}
{%     endif %}
{%   endif %}

{% endfor %}

{% for bind in frontend.bind %}
  bind {{ bind.listen }}{% for param in bind.param | default([]) %} {{ param }}{% endfor %}

{% endfor %}

{% if frontend.bind_process is defined %}
  bind-process {{ frontend.bind_process | join(' ') }}
{% endif %}

{% for stick in frontend.stick | default([]) %}
  stick-table {{ stick.table }}
  stick on {{ stick.stick_on }}
{% endfor %}

{% for timeout in frontend.timeout | default([]) %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}

{% for capture in frontend.capture | default([]) %}
  capture {{ capture.type }} {{ capture.name }} len {{ capture.length }}
{% endfor %}

{% for http_request in frontend.http_request | default([]) %}
  http-request {{ http_request.action }}{% if http_request.param is defined %} {{ http_request.param }}{% endif %}{% if http_request.cond is defined %} {{ http_request.cond }}{% endif %}

{% endfor %}

{% for http_response in frontend.http_response | default([]) %}
  http-response {{ http_response.action }}{% if http_response.param is defined %} {{ http_response.param }}{% endif %}{% if http_response.cond is defined %} {{ http_response.cond }}{% endif %}

{% endfor %}

{% for rspadd in frontend.rspadd | default([]) %}
  rspadd {{ rspadd.string }}{% if rspadd.cond is defined %} {{ rspadd.cond }}{% endif %}

{% endfor %}

{% for rsprep in frontend.rsprep | default([]) %}
  rsprep {{ rsprep.string }}{% if rsprep.cond is defined %} {{ rsprep.cond }}{% endif %}

{% endfor %}

{% for redirect in frontend.redirect | default([]) %}
  redirect {{ redirect.string }}{% if redirect.cond is defined %} {{ redirect.cond }}{% endif %}

{% endfor %}

{% for compression in frontend.compression | default([]) %}
  compression {{ compression.name }} {{ compression.value }}
{% endfor %}
{% endfor %}
