{% for frontend in haproxy_frontend %}
frontend {{ frontend.name }}
{% if frontend.description is defined %}
  description {{ frontend.description }}
{% endif %}

{% for bind in frontend.bind %}
  bind {{ bind.listen }}{% for param in bind.param | default([]) %} {{ param }}{% endfor %}

{% endfor %}

{% if frontend.bind_process is defined %}
  bind-process {{ frontend.bind_process | join(' ') }}
{% endif %}

  mode {{ frontend.mode }}

{% if frontend.maxconn is defined %}
  maxconn {{ frontend.maxconn }}
{% endif %}

{% for stick in frontend.stick | default([]) %}
  stick-table {{ stick.table }}
  stick on {{ stick.stick_on }}
{% endfor %}

{% for option in frontend.option | default([]) %}
  option {{ option }}
{% endfor %}

{% for option in frontend.no_option | default([]) %}
  no option {{ option }}
{% endfor %}

{% for timeout in frontend.timeout | default([]) %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}

{% for acl in frontend.acl | default([]) %}
  acl {{ acl.string }}
{% endfor %}

{% for capture in frontend.capture | default([]) %}
  capture {{ capture.type }} {{ capture.name }} len {{ capture.length }}
{% endfor %}

{% for http_request in frontend.http_request | default([]) %}
  http-request {{ http_request.action }}{% if http_request.param is defined %} {{ http_request.param }}{% endif %}{% if http_request.cond is defined %} {{ http_request.cond }}{% endif %}

{% endfor %}

{% for http_response in frontend.http_response | default([]) %}
  http-response {{ http_response.action }}{% if http_response.param is defined %} {{ http_response.param }}{% endif %}{% if http_response.cond is defined %} {{ http_response.cond }}{% endif %}

{% endfor %}

{% for rspadd in frontend.rspadd | default([]) %}
  rspadd {{ rspadd.string }}{% if rspadd.cond is defined %} {{ rspadd.cond }}{% endif %}

{% endfor %}

{% for rsprep in frontend.rsprep | default([]) %}
  rsprep {{ rsprep.string }}{% if rsprep.cond is defined %} {{ rsprep.cond }}{% endif %}

{% endfor %}

{% for redirect in frontend.redirect | default([]) %}
  redirect {{ redirect.string }}{% if redirect.cond is defined %} {{ redirect.cond }}{% endif %}

{% endfor %}

{% if frontend.use_backend is defined %}
{% if frontend.use_backend is iterable and frontend.use_backend is not string %}
{% for use_backend in frontend.use_backend | default([]) %}
  use_backend {{ use_backend }}
{% endfor %}
{% else %}
  use_backend {{ frontend.use_backend }}
{% endif %}
{% endif %}

  default_backend {{ frontend.default_backend }}

{% endfor %}
