{% for frontend in haproxy_frontend %}
frontend {{ frontend.name }}
{% if frontend.description is defined %}
  description {{ frontend.description }}
{% endif %}

  bind {{ frontend.bind }}{% if frontend.ssl is defined %} ssl{% for ssl in frontend.ssl %} crt {{ ssl.crt }}{% endfor %}{% endif %}

  mode {{ frontend.mode }}

{% if frontend.maxconn is defined %}
  maxconn {{ frontend.maxconn }}
{% endif %}

{% if frontend.option is defined %}
{% for option in frontend.option %}
  option {{ option }}
{% endfor %}
{% endif %}

{% if frontend.no_option is defined %}
{% for option in frontend.no_option %}
  no option {{ option }}
{% endfor %}
{% endif %}

{% if frontend.timeout is defined %}
{% for timeout in frontend.timeout %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}
{% endif %}

  default_backend {{ frontend.default_backend }}

{% if frontend.rspadd is defined %}
{% for rspadd in frontend.rspadd %}
  rspadd {{ rspadd.string }}{% if rspadd.cond is defined %} {{ rspadd.cond }}{% endif %}

{% endfor %}
{% endif %}

{% endfor %}
