{% for listen in haproxy_listen %}
listen {{ listen.name }}
{% for item in haproxy_raw_keys %}
{%   if listen[item['key']] is defined %}
{%     if item['list_accepted'] | default('yes') | bool and
          listen[item['key']] is iterable and
          listen[item['key']] is not string %}
{%       for option in listen[item['key']] %}
  {{ item['config_key'] | default(item['key']) }} {{ option }}
{%       endfor %}
{%     else %}
  {{ item['config_key'] | default(item['key']) }} {{ listen[item['key']] }}
{%     endif %}
{%   endif %}

{% endfor %}

{% for bind in listen.bind %}
  bind {{ bind.listen }}{% for param in bind.param | default([]) %} {{ param }}{% endfor %}

{% endfor %}

{% if listen.bind_process is defined %}
  bind-process {{ listen.bind_process | join(' ') }}
{% endif %}

{% for stick in listen.stick | default([]) %}
  stick-table {{ stick.table }}
  stick on {{ stick.stick_on }}
{% endfor %}

{% for timeout in listen.timeout | default([]) %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}

{% for capture in listen.capture | default([]) %}
  capture {{ capture.type }} {{ capture.name }} len {{ capture.length }}
{% endfor %}

{% if listen.stats is defined %}
{% if listen.stats.enable is defined and listen.stats.enable | bool == true %}
  stats enable
  stats uri {{ listen.stats.uri | default('/') }}
{% if listen.stats.refresh is defined %}
  stats refresh {{ listen.stats.refresh }}
{% endif %}
{% if listen.stats.admin is defined %}
  stats admin {{ listen.stats.admin }}
{% endif %}
{% for option in listen.stats.options | default([]) %}
  stats {{ option }}
{% endfor %}
{% for auth in listen.stats.auth | default([]) %}
  stats auth {{ auth.user }}:{{ auth.passwd }}

{% endfor %}
{% endif %}
{% endif %}

{% for http_request in listen.http_request | default([]) %}
  http-request {{ http_request.action }}{% if http_request.param is defined %} {{ http_request.param }}{% endif %}{% if http_request.cond is defined %} {{ http_request.cond }}{% endif %}

{% endfor %}

{% for http_response in listen.http_response | default([]) %}
  http-response {{ http_response.action }}{% if http_response.param is defined %} {{ http_response.param }}{% endif %}{% if http_response.cond is defined %} {{ http_response.cond }}{% endif %}

{% endfor %}

{% for rspadd in listen.rspadd | default([]) %}
  rspadd {{ rspadd.string }}{% if rspadd.cond is defined %} {{ rspadd.cond }}{% endif %}

{% endfor %}

{% for rsprep in listen.rsprep | default([]) %}
  rsprep {{ rsprep.string }}{% if rsprep.cond is defined %} {{ rsprep.cond }}{% endif %}

{% endfor %}

{% for redirect in listen.redirect | default([]) %}
  redirect {{ redirect.string }}{% if redirect.cond is defined %} {{ redirect.cond }}{% endif %}

{% endfor %}

{% for compression in listen.compression | default([]) %}
  compression {{ compression.name }} {{ compression.value }}
{% endfor %}

{% for server in listen.server | default([]) %}
  server {{ server.name }} {{ server.listen }}{% for param in server.param | default([]) %} {{ param }}{% endfor %}

{% endfor %}

{% endfor %}
