{% for listen in haproxy_listen %}
listen {{ listen.name }}
{% if listen.description is defined %}
  description {{ listen.description }}
{% endif %}

  bind {{ listen.bind }}{% if listen.ssl is defined %} ssl{% for ssl in listen.ssl %} crt {{ ssl.crt }}{% endfor %}{% endif %}

  mode {{ listen.mode }}

{% if listen.balance is defined %}
  balance {{ listen.balance }}
{% endif %}

{% if listen.maxconn is defined %}
  maxconn {{ listen.maxconn }}
{% endif %}

{% if listen.option is defined %}
{% for option in listen.option %}
  option {{ option }}
{% endfor %}
{% endif %}

{% if listen.no_option is defined %}
{% for option in listen.no_option %}
  no option {{ option }}
{% endfor %}
{% endif %}

{% if listen.tcp_check is defined %}
{% for tcp_check in listen.tcp_check %}
  tcp-check {{ tcp_check }}
{% endfor %}
{% endif %}

{% if listen.timeout is defined %}
{% for timeout in listen.timeout %}
  timeout {{ timeout.type }} {{ timeout.timeout }}
{% endfor %}
{% endif %}

{% if listen.stats is defined %}
{% if listen.stats.enable is defined and listen.stats.enable | bool == true %}
  stats enable
  stats uri {{ listen.stats.uri | default('/') }}
{% if listen.stats.hide_version is defined and listen.stats.hide_version | bool == true %}
  stats hide-version
{% endif %}
{% if listen.stats.refresh is defined %}
  stats refresh {{ listen.stats.refresh }}
{% endif %}
{% if listen.stats.auth is defined %}
{% for auth in listen.stats.auth %}
  stats auth {{ auth.user }}:{{ auth.passwd }}

{% endfor %}
{% endif %}
{% endif %}
{% endif %}

{% if listen.server is defined %}
{% for server in listen.server %}
  server {{ server.name }} {{ server.ip }}{% if server.port is defined %}:{{server.port }}{% endif %} {% if server.maxconn is defined %}maxconn {{server.maxconn }} {% endif %}{% if server.param is defined %}{% for param in server.param %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% endif %}

{% endfor %}
