# tasks file
---
- name: certificates | create directories
  file:
    path: "{{ item.dest | dirname }}"
    state: directory
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: 0750
  with_items: "{{ haproxy_ssl_map }}"
  when: item.state is undefined or item.state == 'present'
  tags:
    - haproxy-certificates-create-directories

- name: certificates | copy files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0640') }}"
  with_items: "{{ haproxy_ssl_map }}"
  when: item.state is undefined or item.state == 'present'
  notify: restart haproxy
  tags:
    - haproxy-certificates-copy-files

- name: certificates | remove files
  file:
    path: "{{ item.dest }}"
    state: absent
  with_items: "{{ haproxy_ssl_map }}"
  when: item.state is defined and item.state == 'absent'
  notify: restart haproxy
  tags:
    - haproxy-certificates-remove-files
