{{ ansible_managed }}
# Defaults file for HAProxy
#
# This is sourced by both, the initscript and the systemd unit file, so do not
# treat it as a shell script fragment.

# Change the config file location if needed
CONFIG="/etc/haproxy/haproxy.cfg"

# Add extra flags here, see haproxy(1) for a few options
{% if haproxy_version is version_compare('1.7', '>=') %}
EXTRAOPTS="-f {{ haproxy_conf_dir }}"
{% else %}
EXTRAOPTS="{% for config in haproxy_confd_files.files | default([]) %}{% if config['path'] is defined %} -f {{ config['path'] }}{% endif %}{% endfor %}"
{% endif %}